version: '3.9'

services:
  db:
    image: postgres:16
    restart: always
    container_name: postgres_db_api
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./docker/postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    networks:
      - app_network

  backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    container_name: backend
    env_file: .env
    command: >
      sh -c "python manage.py migrate && 
             python manage.py create_demo_user --username demo --email demo@demo.com --password 12345 &&
             python manage.py runserver 0.0.0.0:${DJANGO_PORT}"
    volumes:
      - ./backend:/app
    ports:
      - "${DJANGO_PORT}:${DJANGO_PORT}"
    depends_on:
      - db
    networks:
      - app_network

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: ./Dockerfile
  #   container_name: frontend
  #   env_file: .env
  #   ports:
  #     - "${FRONTEND_PORT}:${FRONTEND_PORT}"
  #   volumes:
  #     - ./frontend:/usr/src/app
  #   stdin_open: true
  #   tty: true
  #   depends_on:
  #     - backend
  #   networks:
  #     - app_network

networks:
  app_network:
    driver: bridge